header {
    border: 1px solid red;
    height: 10vh;
    display: flex;
}

nav {
    width: 100%;
    display: grid;
    grid: auto-flow / 1fr 1fr;
    align-items: center;
    background-color: #fae596;
}

nav ul {
    place-self: end;
}

nav ul a {
    font-size: 150%;
    color: darkgray;
    font-weight: bold;
}

nav ul li {
    display: inline-flex;
    padding-left: 5vh;
}

main {
    display: grid;
}

.content-title {
    flex-basis: 15%;
    border-right: black 1px solid;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dddfd4;
}

.content-body {
    flex-basis: 85%;
    background-image: linear-gradient(to right, #3fb0ac, #173e43);
}

.normal-pics {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.norm-pic {
    display: grid;
    justify-content: space-around;
    height: 30vh;
    border: 1px solid black;
    object-fit: fill;
}

.work-label {
    z-index: 2;
}


#page-title,
#bigger-title {
    font-size: 200%;
}

#about-me,
#contact-info {
    height: 20vh;
}


#work {
    grid: 1fr 1fr / 1fr 1fr;
}

#contact-info {   
    height: 20vh;
}

#about-me,
#work,
#contact-info {
    display: flex;
    flex-wrap: wrap;
}


#first-picture {
    display: flex;
    flex-basis: 100%;
    height: 60vh;
    justify-content: center;
}

#gmail-clip,
#phone-clip,
#linkedin-clip,
#github-clip {
    height: 10vh;
}

#linkedin-clip,
#github-clip {
    cursor: pointer;
}

#contact-body {
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#contact-body section {
    position: absolute;
    z-index: 1;
    margin-top: 15vh;
}

@media screen and (max-width: 1515px) {

    main {
        flex-direction: column;
    }

    nav {
        flex-grow: auto;
    }

    .content-title {
        display: none
    }

    nav,
    .content-body {
        flex-basis: 100%;
    }

    #nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    nav,
    #about-me,
    #work,
    #contact-info {
        display: flex;
    }


}